<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.nccu.cs.nccustock" >

    <!-- Permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".NCCUStockApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <meta-data
            android:name="DATABASE"
            android:value="nccu.stock.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="edu.nccu.cs.nccustock.entity" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".StockMain_"
            android:label="@string/title_activity_stock_main" >
        </activity>
        <activity
            android:name=".stockdetail.StockDetailActivity_"
            android:label="@string/title_activity_stock_detail" >
        </activity>

        <activity
            android:name=".SignIn"
            android:label="@string/signin">
        </activity>
        <activity
            android:name=".datasyncmain.DataInitActivity_"
            android:label="NCCUStock" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".newsdetail.NewsDetailActivity_"
            android:label="NCCUStock" >
        </activity>
        <activity
            android:name=".newsdetail.NewsClassActivity"
            android:label="NCCUStock" >
        </activity>


        <activity
            android:name=".linechat.Login"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/login"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".linechat.ChatWindows"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/contact"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".linechat.GroupChatWindows"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/contact"
            android:theme="@style/AppTheme"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
